@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-ExtraBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-ExtraBoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mona Sans";
    src: url("../fonts/mona_sans/MonaSans-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
