@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Mona Sans";
}

.container {
    @apply px-4 lg:px-8 xl:px-12 2xl:px-16;
}

body {
    @apply bg-white overflow-hidden overflow-x-hidden overflow-y-hidden;
}

.text-expanded {
    font-stretch: 125%;
}

.text-semi-expanded {
    font-stretch: 110%;
}

.text-semi-condensed {
    font-stretch: 90%;
}

.text-condensed {
    font-stretch: 75%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-stretch: 105%;
    @apply text-primary tracking-tight;
}

// h1 {
//     @apply text-10xl font-semibold;
// }

// h2 {
//     @apply text-7xl font-semibold leading-[1.05];
// }

// h3 {
//     @apply text-3xl font-semibold;
// }

// h4 {
//     @apply text-2xl font-semibold;
// }

// h5 {
//     @apply text-xl font-semibold;
// }

// h6 {
//     @apply text-lg font-semibold;
// }

.hero-main-title {
    font-size: clamp(2.8125rem, 1.6518rem + 5.8036vw, 6.875rem) !important;
}

.custom-cursor {
    @apply hidden lg:block fixed top-0 left-0 pointer-events-none;
}

.featured-album-card {
    @media (max-width: 768px) {
        // aspect-ratio: 16/12 !important;
    }
}

.spinning-circular-text {
    animation-name: spinning_circular_text;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

@keyframes spinning_circular_text {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
