@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Mona Sans";
}

.container {
    @apply max-w-none px-4 md:px-8 lg:px-12 xl:px-16;
}

body {
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-black tracking-tight;
}

h1 {
    @apply text-10xl font-semibold;
}

h2 {
    @apply text-7xl font-semibold leading-[1.05];
}

h3 {
    @apply text-3xl font-semibold;
}

h4 {
    @apply text-2xl font-semibold;
}

h5 {
    @apply text-xl font-semibold;
}

h6 {
    @apply text-lg font-semibold;
}

.container {
    @apply mx-auto font-semibold;
}

.spinning-circular-text {
    animation-name: spinning_circular_text;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

@keyframes spinning_circular_text {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
